* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size:22px;
}

.header{
    min-height:50vh;
    width:100%;
    background-image: linear-gradient(rgba(25, 22, 61, 0.7), rgba(36, 17, 29, 0.4)),  url(media/red_background.jpg) ;
    background-position: center;
    background-size: cover;
    position:relative;
    box-shadow: 0px 0px 30px 15px rgb(4,4,5);
    -webkit-box-shadow:0px 0px 30px 15px rgb(4,4,5);
    -moz-box-shadow: 0px 0px 30px 15px rgb(4,4,5);
}

body{
    background-image: linear-gradient(#3f232a, 80%, #0a0824); /* 80% makes the blue only come in at the end */
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
}

nav img{
    width:7.5rem;
    border-radius: 10px;
}

nav img:hover {
    animation-name:rotate;
    animation-duration: .9s;
    animation-direction:reverse;
    transform: translatey(-2px);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*nav img:hover{

}*/

.nav-links {
    flex:1;
    text-align: right;
}

.nav-links ul li{
    flex:1;
    text-align: right;
    display:inline-block; /* <-- this is what turns it into a row */
    padding:2% 2%;
    color: #fffbff;
    cursor:pointer;
}

.nav-links ul li{
    transition: .4s;
}

.nav-links ul li:hover{
    transform: translateY(-2px);
}

.nav-links ul li::after{
    content:"";
    width:0%;
    height: .17em;
    background-color: rgb(76, 62, 91);   
    border-radius:45px 45px 3px 3px;
    display: block;
    margin:inherit;
    transition:.5s;
}

.nav-links ul li:hover::after{
    width:100%;    
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 130%);
    text-align: center;
}

.title h1{
    justify-items: center;
    font-size: 34px;
    font-weight: 525;
    color: #fffbff;
    
}

.title h1::before{
    content:"";
    position:relative;
    height:5px;
    width:100%;
    display:block;
    margin:auto;
    background-color: rgb(76, 62, 91);
    margin-bottom: 10px;
    border-radius:45px 45px 3px 3px;
    transform: scaleX(1);
    transition:.6s
}

.title h1:hover::before{
    transform: scaleX(0.5) translateY(8px);
    background-color: rgba(156, 11, 28, 0.8);
}